<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Registro</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">

        <script>
            function validar(){
                if(document.getElementById("txtPassword").value == document.getElementById("txtConfirmPassword").value){
                document.getElementById("txtConfirmPassword").style.backgroundColor="green"
                document.getElementById("password-error-message").innerHTML=""
            }
            else{
                document.getElementById("txtConfirmPassword").style.backgroundColor="pink"
                document.getElementById("password-error-message").innerHTML="Las contraseñas no coinciden"
                }
            }
        </script>
    </head>
    <body>
        <header>

            <div class="container">

                <div class="top-header">
                    <div class="logo">
                        <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                    </div>
                    <div class="form" action="#" method="GET">
                        <input type="text" placeholder="Buscar productos, marcas y más..."/>
                        <div class="submit">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                    <p>
                        <i class="fas fa-hand-holding-usd"></i>
                        Comprá en cuotas y sin tarjeta de crédito
                    </p>
                </div>

                <nav>
                    <ul class="sitebar">
                        <li>
                            <a href="#">Ofertas</a>
                        </li>
                        <li>
                            <a href="#">Tiendas Oficiales</a>
                        </li>
                        <li>
                            <a href="#">Vender</a>
                        </li>
                        <li>
                            <a href="#">Ayuda</a>
                        </li>
                    </ul>
                    <ul>
                        <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>

                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>

            </div>
        </header>

        <main>
            <div class="container">

                <form class="form-box" action="/home" method="">
                    <h3>Registro de usuarios</h3>

                    <div class="field-box">
                        <label for="txtNameSurname">Nombre y apellido</label>
                        <input type="text" id="txtNameSurname" name="nameSurname" />
                    </div>

                    <div class="field-box">
                        <label for="txtUsername">Nombre de usuario</label>
                        <input type="text" id="txtUsername" name="username" />
                    </div>

                    <div class="field-box">
                        <label for="txtEmail">E-mail</label>
                        <input type="email" id="txtEmail" name="email" />
                    </div>
                    
                    <div class="field-box">
                        <label for="txtBirthDate">Fecha de Nacimiento</label>
                        <input type="date" id="txtBirthDate" name="BirthDate"/>
                    </div>

                    <div class="field-box">
                        <label for="txtAddress">Domicilio</label>
                        <input type="text" id="txtAddress" name="address" />
                    </div>

                    <div class="field-box">
                        <label>Perfil de usuario</label>
                        <div class="rbt-chk-box">
                            <div>
                                <input type="radio" name="profile" value="buyer" id="rbtBuyer">
                                <label for="rbtBuyer">Comprador</label>
                            </div>
                            <div>
                                <input type="radio" name="profile" value="seller" id="rbtSeller">
                                <label for="rbtSeller">Vendedor</label>
                            </div>
                        </div>
                    </div>

                    <div class="field-box">
                        <label>Categorías de interés</label>
                        <div class="rbt-chk-box">
                            <div>
                                <input type="checkbox" name="interestCategories" value="electro" id="chkElectro">
                                <label for="chkElectro">Electro</label>
                            </div>
                            <div>
                                <input type="checkbox" name="interestCategories" value="fashion" id="chkFashion">
                                <label for="chkFashion">Moda</label>
                            </div>
                            <div>
                                <input type="checkbox" name="interestCategories" value="home" id="chkHome">
                                <label for="chkHome">Hogar</label>
                            </div>
                            <div>
                                <input type="checkbox" name="interestCategories" value="toyStore" id="chkToyStore">
                                <label for="chkToyStore">Jugueteria</label>
                            </div>
                            <div>
                                <input type="checkbox" name="interestCategories" value="lifestyle" id="chklifestyle">
                                <label for="chklifestyle">Vida Sana</label>
                            </div>
                        </div>
                    </div>

                    <div class="field-box">
                        <label for="fileUserPic">Foto de usuario</label>
                        <input type="file" id="fileUserPic" name="userPic" />
                    </div>

                    <div class="field-box">
                        <label for="txtPassword">Contraseña</label>
                        <input type="password" id="txtPassword" name="password" onkeyup=validar() />
                    </div>

                    <div class="field-box">
                        <label for="txtConfirmPassword">Confirmar contraseña</label>
                        <input type="password" id="txtConfirmPassword" name="confirmPassword" onkeyup=validar() />
                    </div>

                    
                    <div>
                        <span id="password-error-message"></span>
                    </div>

                    <div class="btn-box">
                        <button type="reset">Borrar</button>
                        <button type="submit">Enviar</button>
                    </div>

                </form>

            </div>
        </main>

        <footer>

            <div class="container">

                <section>
                    <i class="far fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </section>

                <section>
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </section>

                <section>
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </section>

                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                
            </div>

        </footer>

    </body>
</html>
